{% extends 'base.html' %} 
{% block title %}About{% endblock title %} 
{% block body %}
<br />
<section>
  <div class="container-lg">
    <h1 style="text-align: center">About</h1>
    <br />
    <br />
    <h3 style="text-align: center">
      This project was made by me as my CO-301 Software Engineering innovative
      project for my MTE evaluation.
    </h3>
    <br />
    <h3 style="text-align: center">
      I got this idea because of a bad experience I had with the DMV in my
      country in the past. A website system like this would help us in
      modernizing the primitive and inefficient methods used in the DMV
      currently.
    </h3>
    <br />
    <h3 style="text-align: center">
      This website was built using HTML, CSS, Javascript and Bootstrap for the
      frontend, whereas Django and SQLite were used for the backend.
    </h3>
    <br />
    <br />
    <h5 style="text-align: center">&nbsp; &nbsp; Siddhant Bikram Shah</h5>
    <h5 style="text-align: center">&nbsp; &nbsp; siddhantshah3000@gmail.com</h5>
    <h5 style="text-align: center">
      &nbsp; &nbsp; <a href="https://github.com/SiddhantBikram">https://github.com/SiddhantBikram</a>
    </h5>
  </div>
</section>
{% endblock body%}
